.goldsMenu {
    display: flex;
    width: 100%;
    height: 300px;
    align-items: center;
    margin: 0;
    position: relative;
    background-color: #1a181800;
    justify-content: flex-start;
    flex-direction: column;
    z-index: 3;
    transition: 0.5s;
    opacity: 100%;
    animation: showGoldsMenu 1.5s;
}
@keyframes showGoldsMenu {
    0%{
        transform: translateY(10%);
        transition: transform 1s linear;
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}

.goldsMenu:hover {
    background-color: #f0eee4;
    transition: 0.8s;
}

.goldsMenu:hover>.logotypeScroll {
    color: #1a1818;
}

.goldsMenu:hover>.menuitem a {
    color: #1a1818;
}
